<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSD230 Example Controller</title>
</head>
<body>
<h1>CSD230 Controller Example></h1>
<pre><a href="https://github.com/fcarella/csd230.controller_examples.git">https://github.com/fcarella/csd230.controller_examples.git</a></pre>
<p><pre style="color: red;display: inline">/controller/employee/fred     </pre><a href="/controller/employee/fred">returns Employee as json</a></p>
<p><pre style="color: red;display: inline">/controller/employee/fred.xml </pre><a href="/controller/employee/fred.xml">returns Employee as xml</a></p>
<p><pre style="color: red;display: inline">/controller/employeeById?id="1":name="Fred" </pre><a href="/controller/employeeById?id='1':name='Fred'">display an Employee</a></p>
</body>
</html>